= form_for @bot do |f|
  - if params[:id]
    = f.text_field :name, class: "span12"
  = f.text_area :code, class: "span12", id: "code-ruby", value: ("AI_NAME: \"Define your AI name here.\"\n# Keep theses lines and start coding from the next line." unless (params[:bot] || params[:id]))
  .form-actions
    = f.submit "Save", class: "btn btn-success #{"disabled" unless current_user}"
    - unless current_user
      %span.muted Log in before continue.