!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link{href:"http://fonts.googleapis.com/css?family=Lato:300", rel: "stylesheet", type: "text/css"}
    %title Poker
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
  %body#devise
    
    .navbar.navbar-inverse
      .navbar-inner
        .container
          .row
            .span12
              %ul.nav.pull-right
                - if user_signed_in?
                  %li= link_to current_user.name, current_user
                  %li= link_to "Log out", destroy_user_session_path, method: :delete
                - else
                  %li= link_to "Register", new_user_registration_path
                  %li= link_to "Login", new_user_session_path
              = link_to "Poker for Programmers", root_path, class: "brand"
    .container
      .row
        .span6.offset3
          .panel.panel-offset
            - flash.each do |key, msg|
              .alert{class: "alert-#{key}"}
                = msg
            .row-fluid= yield